# Core RL stack (as of Ray 2.9.1, stable & compatible with Gymnasium and NumPy 2.0)
ray[rllib]==2.9.1
gymnasium
numpy==1.26.4

# Torch and environment
torch==2.2.2

#For Temporal Worfklow Management
temporalio           # For workflow orchestration (optional, for full integration)

# Misc dependencies
aiohttp==3.9.3
